<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h2 class="mb-0">THÔNG BÁO</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h2>Thanh Toán Thành Công!</h2>
                    <a href="/admin/quanlithongtindathang/thanhtoan">Quay lại trang thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</div>