<main>
    <div class="swiper-slide swiper-lazy swiper-lazy-loaded swiper-slide-active" style="height:550px;
                        
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        background-size:100%;
                        display: flex; justify-content: center;">
        <div style="width: 50%;">
            <form action="/admin/advertising/web/adddoitac" , method="POST">
                <div class="card">
                    <!--Header-->
                    <div class="header p-3 mt-3 peach-gradient">
                        <div class="row d-flex justify-content-center">
                            <h1 class="white-text font-weight-bold">Thêm Đối Tác</h1>
                        </div>
                    </div>
                    <span style="color: rgb(136, 136, 252); margin-left:25px;">{{thongbao}}</span>
                    <span style="color: rgb(231, 2, 14); margin-left:25px;">{{thongbao1}}</span>
                    <div class="card-body mx-1 mt-1">
                        <!--Body-->

                        <div class="md-form">
                            <label for="Form-name">Tên đối tác</label></br>
                            <input type="text" id="Form-name" name="tendoitac" class="form-control">
                        </div>

                        <div class="md-form">
                            <label for="description">Mô tả về Đối tác</label></br>
                            <textarea id="editor" class="form-control md-textarea" name="motahopdong" rows="5"></textarea>
                        </div>
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="text-center" style="margin-left:20px;margin-top:20px;">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-danger">Thêm đối tác</button>
                                </div>
                            </div>

                            <div class="text-center" style="margin-left:20px;margin-top:20px;">
                                <div class="text-center">
                                    <a class="btn " href="/admin/advertising/web">Hủy bỏ</a>
                                </div>
                            </div>

                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </div>
            </form>

        </div>
    </div>
</main>